torch --index-url https://download.pytorch.org/whl/cpu
langgraph
langchain
langchain-groq
langchain-community
fastapi
uvicorn[standard]
sentence-transformers
faiss-cpu
yfinance
ddgs
python-dotenv
requests
sec-edgar-downloader
beautifulsoup4
huggingface_hub