langgraph
langchain
langchain-groq
langchain-community
sentence-transformers
faiss-cpu
yfinance
ddgs
streamlit
python-dotenv
requests
sec-edgar-downloader
beautifulsoup4
requests
huggingface_hub
fastapi
uvicorn